@import '../../Common/Stiles/sass/variables.scss';
@import '../../Common/Stiles/sass/mixins.scss';

.project {
  margin: 0px 5px 0;
  box-shadow: 0 3px 35px -8px #ccc;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px;
  background-color: $blokColor;
  margin-bottom: 15px;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;

    &:hover{
      filter: brightness(80%)
    }

    //&::before {
    //  position: absolute;
    //  content: '';
    //  background-color: $blokColor;
    //  opacity: 0.4;
    //  top: 0;
    //  bottom: 0;
    //  left: 0;
    //  right: 0;
    //}

    .button {

      @include text($buttonFontFamily, $primaryColor, 14px, 400);
      border: 1px solid $primaryColor;
      text-decoration: none;
      word-spacing: 2px;
      padding: 10px 30px;
      border-radius: 50px;
      margin-bottom: 20px;
      z-index: 1;
      &:hover{
        filter:none;
        cursor: pointer;
        background: $primaryColor;
        color: $bgColor;

      }
    }

  }

  .projectInfo {
    align-items: flex-start;
    padding: 20px;

    .projectTitle {
      @include text($textFontFamily, $textColor, 24px, 700);
      margin: 10px 0px 10px 0px;
    }

    .description {
      color: $textColor;
      @include text($buttonFontFamily, $titleColor, 16px, 400);
      letter-spacing: 0.1px;
      margin: 0px 0px 50px 0px;
    }
  }
}
