@import '../Common/Stiles/sass/variables.scss';

.header{
    z-index: 999;
    position: fixed;
    width: 100%;
    padding-right: 10px;
    display: flex;
    height: 80px;
    background-color: $bgColor2;
    justify-content: space-evenly;
    align-items: center;
}