@import '../Common/Stiles/sass/variables.scss';

.header{
    padding-right: 10px;
    display: flex;
    height: 80px;
    background-color: $bgColor2;
    justify-content: space-evenly;
    align-items: center;
}