@import '../Common/Stiles/sass/variables.scss';
@import '../Common/Stiles/sass/mixins.scss';

.contact {

  background-color: $bgColor;

  .contactContainer {
    flex-direction: column;

    .inputs {
      margin-top: 60px;
      padding: 60px;
      align-items: center;
      flex-direction: column;
      width: 500px;
      display: flex;
      @media screen and (max-width: 700px) {
        width: 100%;
        padding: 60px 0px 60px;
      }

      .input {
        display: block;
        border: 0px;
        width: 100%;
        height: 45px;
        padding: 5px 0px;
        font-size: 16px;
        line-height: 1.42857143;
        color: #333;
        text-indent: 20px;
        background-color: transparent;
        border: 1px solid #ddd;
        border-radius: 0px;
        box-shadow: none;
        margin-bottom: 30px;
        font-weight: 300;
        //@include text($textFontFamily, $textColor2, 16px, 500);
      }

      .textarea {
        resize: none;
        display: block;
        border: 0px;
        width: 100%;
        height: 100px;
        padding: 5px 0px;
        font-size: 16px;
        line-height: 1.42857143;
        color: #333;
        text-indent: 20px;
        background-color: transparent;
        border: 1px solid #ddd;
        border-radius: 0px;
        box-shadow: none;
        margin-bottom: 30px;
        font-weight: 300;
      }

    }
  }
}






