@import '../../Common/Stiles/sass/variables.scss';
@import '../../Common/Stiles/sass/mixins.scss';

.skill {

  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px;
  background-color: $blokColor;
  margin-left: 15px;
  margin-right: 15px;
  margin-block: 5px;
  padding: 20px 20px;


  .icon {
    width: 80px;
    height: 80px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;

  }

  .projectTitle {
    @include text($textFontFamily, $textColor, 32px, 900);
    margin: 10px 0px 10px 0px;
  }

  .description {
    color: $textColor;
    @include text($buttonFontFamily, $titleColor, 16px, 400);
    letter-spacing: 0.1px;

  }
}




