.title {
    font-family: "Playfair Display", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: left;
    position: relative;
}
.title h2{
    font-weight: 600;
    color: #ffffff;
    font-size: 31px;
    margin: 0;
}

.title::after{
    content: '';
    position: absolute;
    background: #ffc576;
    width: 55px;
    height: 1px ;
    bottom: -30px;
    transform: translate(-50%, 50%);
    left: 50%;
}

