@import '../../Common/Stiles/sass/variables.scss';
@import '../../Common/Stiles/sass/mixins.scss';

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;


  .modal_content {
    padding: 30px;
    border-radius: 12px;
    background-color: $bgColor;
    width: 30%;
    height: 15%;
    transform: scale(0.5);
    transition: 0.5s all;
    @media screen and (max-width: 750px) {
      width: 50%;
    }
    @media screen and (max-width: 420px) {
      width: 70%;
    }

    .name_section {
      display: flex;
      justify-content: space-between;

      p {
        margin: 0;
        color: saddlebrown;

        &:hover {
          cursor: pointer;
        }
      }
    }

    h2 {
      text-align: center;
    }

  }

  .modal_content_active {
    transform: scale(1);
  }
}

.modal_active {
  opacity: 1;
  pointer-events: all;
}