@import '../Common/Stiles/sass/variables.scss';

.skillsBlock{
    min-height: 100vh;
    background-color: $bgColor;
    .skillsContsiner{
        flex-direction: column;
        justify-content: flex-start;
        .skills{
            flex-wrap: wrap;    
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 60px;
        
        }
    }
}




