.mainBlock{
    height: 100vh;
    background-color: #2a4088;
}



.text{
    width: 300px;
    background-color: aliceblue;

}

.ava{
    width: 300px;
    height: 300px;
    background-color: #728732;
}