@import '../Common/Stiles/sass/variables.scss';

.myProject{
    min-height: 100vh;
    background-color: $bgColor;

    .myProjectContsiner{
        flex-direction: column;
        justify-content: flex-start;
        .projects{
            flex-wrap: wrap;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 60px;
            @media screen and (max-width: 1005px ){
                justify-content: center;
            }
        }
    }
}




