@import './variables.scss';

@mixin text($fontFamily ,$color, $fontSize, $fontWeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}

@mixin container() {
  font-family: $titleFontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}