$bgColor2:#222;
$textColor2:#ddd;

$bgColor: #ffffff;
$blokColor:#f6f6f6;
$textColor:#333;
$titleColor:#737373;

$primaryColor: #2f3dff;

$titleFontFamily:"Poppins",sans-serif;
$textFontFamily:'Montserrat', sans-serif;//для текста в блоках
$buttonFontFamily:"Open Sans", Sans-serif;