$textColor:#ffffff;
$textColor2:#a9afc3;
$primaryColor:#f52225;
$bgColor: #191c26;

$bgColor2:#111319;
$blokColor:#111319;
// #1F2235

//  #313552
$titleFontFamily:"Poppins",sans-serif;
$textFontFamily:"HK Grotesk", Sans-serif;
$buttonFontFamily:"Open Sans", Sans-serif;