@import '../Common/Stiles/sass/variables.scss';
@import '../Common/Stiles/sass/mixins.scss';

.nav{
    width: 500px;
    display: flex;
    justify-content: space-between;
    @include text( $textColor, 16px, 500);
    @media screen and (max-width: 600px ){
        width: 80%;
    }
    & a{
        color: $textColor2;
        text-decoration: none;
    }
    & a:active {
        color:$primaryColor;
        text-decoration:none
    }
}