@import '../Common/Stiles/sass/variables.scss';
@import '../Common/Stiles/sass/mixins.scss';

.footer {
  background-color: $bgColor2;

  .footerContainer {
    display: flex;
    flex-direction: column;

    .title {
      @include text($textFontFamily, $textColor2, 26px, 500);
    }

    .containerBlock {
      width: 60%;
      display: flex;
      justify-content: space-between;

      .block {
        display: flex;
        //border-radius: 50%;
        //border: 1px solid $primaryColor ;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        position: relative;
        width: 30px;
        height: 30px;
      }
    }

    & p {
      @include text($buttonFontFamily, $textColor2, 14px, 500);
    }
  }
}







