@import '../Common/Stiles/sass/variables.scss';
@import '../Common/Stiles/sass/mixins.scss';

.aboutMe {
  min-height: 100vh;
  background-color: $blokColor;
  position: relative;
  padding-bottom: 20px;


  &::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-bottom: 50px solid rgb(255, 255, 255);
    border-right: 70vw solid transparent;

  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-bottom: 50px solid rgb(255, 255, 255);
    border-left: 30vw solid transparent;
    box-sizing: border-box;
  }


  .aboutMeContainer {
    flex-direction: column;
    margin-bottom: 50px;


    .infoForMe {
      display: flex;
      height: 100%;
      margin-top: 60px;
      @media screen and (max-width: 1180px) {
        flex-direction: column;
        align-items: center;
      }

      .imageContainer {
        width: 40%;
        z-index: 0;
        height: 100%;
        //height: 500px;
        @media screen and (max-width: 1180px) {
          width: 100%;
        }

        .tilt {
          height: 100%;

          .image {
            height: 95%;
            width: 400px;
            z-index: 1;
            @media screen and (max-width: 500px) {
              width: 100%;
              height: 80%;
            }

          }


        }

        .spanBorrder {
          position: absolute;
          display: block;
          left: 0;
          bottom: 0;
          z-index: -9;
          height: 80%;
          width: 340px;
          border: 10px solid $primaryColor;
          opacity: 0.3;
          transform: scale(1.13) translate(10%, 0px);
          right: 0;
          @media screen and (max-width: 1433px) {
            width: 350px;
            top: 100px;
            height: 420px;
          }
          @media screen and (max-width: 500px) {
            width: 0;
            height: 0;
          }

        }


      }


      .info {
        width: 60%;
        margin-left: 2px;
        padding-left: 45px;
        padding-right: 15px;
        @media screen and (max-width: 1180px) {
          width: 100%;
          padding-top: 50px;
          padding-right: 5px;
          padding-left: 5px;
        }

        p {
          margin: 1px;
          text-indent: 20px;
          @include text($buttonFontFamily, $titleColor, 24px, 400);
        }

      }


    }


  }
}

